/**========================================================================
 *                       En-tête (Navbar)
 *========================================================================**/
.navbar {
    background-color: var(--bs-tertiary-bg);
    border-bottom: 1px solid var(--bs-border-color);
}

/**========================================================================
 *                              Barre Audio
 *========================================================================**/
.audio-footer-bar {
    background-color: var(--bs-secondary-bg);
    border-top: 1px solid var(--bs-border-color);
    color: var(--bs-body-color);
}

/**========================================================================
 *                 Composants Lecteur Audio (player.style)
 *========================================================================**/
.audio-footer, .audio-compact, .audio-long {
    display: block;
    width: 100%;
    border-radius: var(--bs-border-radius);
    overflow: hidden;
    border: 1px solid var(--bs-border-color);
    --media-primary-color: var(--bs-body-color);
    --media-secondary-color: var(--bs-tertiary-bg);
    --media-accent-color: var(--bs-primary);
}

.audio-footer {
    border-radius: var(--bs-border-radius);
    border: 1px solid var(--bs-border-color);
    --media-secondary-color: var(--bs-body-bg);
    margin: 0;
}

.audio-compact {
    max-width: 1500px;
}