.audio-footer, .audio-compact, .audio-long {
    display: block;
    --media-primary-color: #212529;
    --media-secondary-color: #f8f9fa;
    --media-accent-color: #0d6efd;
    width: 100%;
    overflow: hidden;
}

.audio-footer {
    border-radius: 12px 12px 0px 0px;
    border: 2px solid #dee2e6;
    margin:0;
}

.audio-compact {
    max-width: 1500px;
    border-radius: var(--bs-border-radius);
    border: 2px solid #dee2e6;
}

.audio-long {
    max-width: 700px;
    border-radius: 12px;
    border: 2px solid #dee2e6;
    overflow: hidden;
}